<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">User Name</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>
            <div class="mb-3">
                <label class="form-label">Register As</label>
                {{ form.role }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
</html>